/* Common styles */
.flipTimebox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}
.clock {
    margin: 0 auto;
    position: relative;
    left: 44%;
    transform: translateX(-50%);
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    #fh5co-header {
        background-size: cover !important;
        background-position: center center !important;
        height: 100vh !important;
    }
    .fh5co-nav .menu-1 {
        display: block !important;
        width: 100% !important;
        text-align: center !important;
    }
    .event-wrap iframe {
        width: 100% !important;
        max-width: 400px !important;
    }
    #fh5co-services iframe {
        width: 100% !important;
        max-width: 640px !important;
        height: 1000px !important;
    }
    .flipTimebox {
        transform: scale(1.0) !important;
    }
    h1 {
        font-size: 36px !important;
    }
    h2 {
        font-size: 30px !important;
    }
}
